*,
    *::after,
    *::before {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
    }

    body {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 100%;
      border-radius: 5px;
    }

    .title {
      font-size: .9rem;
      color: rgb(85, 85, 85);
      border-bottom: 1px solid gray;
      margin-bottom: 20px;
    }

    .container {
      width: 610px;
      padding: 20px 30px;
      border: 2px solid gray;
      border-radius: 15px;
    }

    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    .left {
      display: flex;
      gap: 20px;
      flex-direction: column;
    }

    .item {
      padding-bottom: 20px;
      color: #424242;
      font-size: 1rem;
    }

    .div {
      border-bottom: 1px gray dotted;
    }

    h2 {
      font-size: 1rem;
      color: #424242;
    }