* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 70%;
    margin: auto;
}

header {
    margin: 0 40px 10px;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 10px;
    color: #dd1263;
    font-size: 3em;
}

.header_navbar {
    background-color: #dd1263;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 10px;
}

.header_navbar-item {
    margin: 10px 30px;
    padding-left: 50px;
}

.header_navbar > a {
    color: white;
    border-left: solid white 1px;
    font-weight: 700;
    font-size: 1.2em;
}

.header_navbar > a:first-child {
    border-left: none
}

a {
    color: black;
    font-weight: 800;
}

img {
    width: 100%;
}

.container {
    margin: 0 40px;
}

.content1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.content1__col1_news {
    grid-column: span 1;
}

.content1__col2_news {
    grid-column: span 1;
}

.list_link {
    margin: 30px 0;
}

.list_link > li {
    position: relative;
    left: 30px;
    padding: 20px;
    margin: 20px 0;
}

.list_link > li > a {
    position: relative;
    right: 20px;
}

.content1__col2_news > .list_link > li::marker {
    color: #0471ac;
    font-size: 26px;
}

.content1__col3_news {
    grid-column: span 1;
}

.content1__col3_news > .list_link > li::marker {
    color: green;
    font-size: 26px;
}